{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="An impressive and flawless site template that includes various UI elements and countless features, attractive ready-made blocks and rich pages, basically everything you need to create a unique and professional website.">
  <meta name="keywords" content="chess, club, chess club, chess result, chess results, Ait Ourir, Marrakech, learn, learn chess, chess books, ekblocks, Mouad Kommir">
  <meta name="author" content="elemis">
  <title>{{ title }}</title>
  <link rel="shortcut icon" href="{% static 'sandbox/assets/img/logo/favicon.jpg' %}">
  <link rel="stylesheet" href="{% static 'sandbox/assets/css/plugins.css' %}">
  <link rel="stylesheet" href="{% static 'sandbox/assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'sandbox/assets/css/custom.css' %}">

  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/113d723285.js" crossorigin="anonymous"></script>

  {% block extra_css %}{% endblock extra_css %}

</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3793NPXEMG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3793NPXEMG');
</script>
<!-- /Google tag (gtag.js) -->


<body>
  <div class="page-loader"></div>

  <div class="content-wrapper">

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-icon alert-dismissible fade show mx-3 my-2" role="alert">
          {% if "success" in message.tags %}
            <i class="uil uil-check-circle"></i>
          {% elif "error" in message.tags %}
            <i class="uil uil-times-circle"></i>
          {% elif "warning" in message.tags %}
            <i class="uil uil-exclamation-triangle"></i>
          {% endif %}
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}

    {% block main %}{% endblock main %}
  </div>
  <!-- /.content-wrapper -->

  {% block extra_js %}{% endblock extra_js %}
</body>

</html>