{% load static i18n %}

<header class="wrapper">
    <nav class="navbar navbar-expand-lg classic navbar-light navbar-bg-light">
      <div class="container flex-lg-row flex-nowrap align-items-center">
        <div class="navbar-brand w-100">
          <a href="{% url 'website:home' %}">
            <img src="{% static 'sandbox/assets/img/logo/logo.png' %}" style="height: 50px;" alt="AO Chess Club" />
          </a>
        </div>
        <!-- /.brand -->

        <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
          <div class="offcanvas-header d-lg-none">
            <a href="{% url 'website:home' %}"><img src="{% static 'sandbox/assets/img/logo/logo_white.png' %}" style="width: 180px" alt="EKBlocks logo" /></a>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <!-- /.offcanvas-header -->

          <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link {% if current_page == 'home' %}active{% endif %}" href="{% url 'website:home' %}">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if current_page == 'about_us' %}active{% endif %}" href="{% url 'website:about_us' %}">A Propos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if current_page == 'gallery' %}active{% endif %}" href="{% url 'website:gallery' %}">Médiathèque</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if current_page == 'biblio_chess' %}active{% endif %}" href="{% url 'website:biblio_chess' %}">Biblio-Chess</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link {% if current_page == 'portfolio' %}active{% endif %}" href="{% url 'website:portfolio' %}">Portfolio</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link {% if current_page == 'blog' %}active{% endif %}" href="{% url 'blog:blog' %}">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if current_page == 'contact_us' %}active{% endif %}" href="{% url 'website:contact_us' %}">Contactez Nous</a>
              </li>
            </ul>
            <!-- /.navbar-nav -->

            <div class="d-lg-none mt-auto pt-6 pb-6 order-4">
              <a href="mailto:contact@aitourirchessclub.ma" class="link-inverse">contact@aitourirchessclub.ma</a><br />
              <a href="tel:+212658804661">(+212) 6 58 80 46 61</a> <br />
              <nav class="nav social social-white mt-4">
                <!-- <a href="#"><i class="uil uil-linkedin"></i></a> -->
                <a href="https://www.facebook.com/aitourirchessclub" target="_blank"><i class="uil uil-facebook-f"></i></a>
                <a href="https://www.youtube.com/@-aitourirchessclub9461" target="_blank"><i class="uil uil-youtube"></i></a>
                <!-- <a href="#"><i class="uil uil-twitter"></i></a> -->
                <a href="https://www.instagram.com/aitourirchessclub/" target="_blank"><i class="uil uil-instagram"></i></a>
              </nav>
              <!-- /.social -->
            </div>
            <!-- /offcanvas-nav-other -->
          </div>
          <!-- /.offcanvas-body -->
        </div>
        <!-- /.navbar-collapse -->

        <div class="navbar-other ms-lg-4">
          <ul class="navbar-nav flex-row align-items-center ms-auto">
            <li class="nav-item"><a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-info"><i class="uil uil-info-circle"></i></a></li>
            <li class="nav-item d-lg-none">
              <button class="hamburger offcanvas-nav-btn"><span></span></button>
            </li>
          </ul>
          <!-- /.navbar-nav -->
        </div>
        <!-- /.navbar-other -->
      </div>
      <!-- /.container -->
    </nav>
    <!-- /.navbar -->

    <div class="offcanvas offcanvas-end text-inverse" id="offcanvas-info" data-bs-scroll="true">
      <div class="offcanvas-header">
        <h3 class="text-white fs-30 mb-0">AOCID</h3>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body pb-6">
        <div class="widget mb-8">
          <p>Ait Ourir Chess and Intelligence Development Club (AOCID) is a club Lorem ipsum dolor sit amet consectetur adipisicing elit. At nisi blanditiis rem.<p>
        </div>
        <!-- /.widget -->
        <div class="widget mb-8">
          <h4 class="widget-title text-white mb-3">Contact Info</h4>
          <address>
            Dar Chabab <br class="d-none d-md-block" /> Ait Ourir, 42050
          </address>
          <a href="mailto:contact@aitourirchessclub.ma">contact@aitourirchessclub.ma</a> <br/>
          <a href="tel:+212658804661">(+212) 6 58 80 46 61</a>
        </div>
        <!-- /.widget -->
        <div class="widget mb-8">
          <h4 class="widget-title text-white mb-3">Voir Plus</h4>
          <ul class="list-unstyled">
            <li><a href="{% url 'website:about_us' %}#our_story">Qui somme nous?</a></li>
            <li><a href="{% url 'website:terms' %}#terms_conditions">Conditions d'utilisation</a></li>
            <li><a href="{% url 'website:terms' %}#privacy_policy">politique de confidentialité</a></li>
            <li><a href="{% url 'website:contact_us' %}">Contactez Nous</a></li>
          </ul>
        </div>
        <!-- /.widget -->
        <div class="widget">
          <h4 class="widget-title text-white mb-3">Réseaux sociaux</h4>
          <nav class="nav social social-white">
            <!-- <a href="#"><i class="uil uil-linkedin"></i></a> -->
            <a href="https://www.facebook.com/aitourirchessclub" target="_blank"><i class="uil uil-facebook-f"></i></a>
            <a href="https://www.youtube.com/@-aitourirchessclub9461" target="_blank"><i class="uil uil-youtube"></i></a>
            <!-- <a href="#"><i class="uil uil-twitter"></i></a> -->
            <a href="https://www.instagram.com/aitourirchessclub/" target="_blank"><i class="uil uil-instagram"></i></a>
          </nav>
          <!-- /.social -->
        </div>
        <!-- /.widget -->
      </div>
      <!-- /.offcanvas-body -->
    </div>
    <!-- /.offcanvas -->
</header>
<!-- /header -->

{% if display_admin_btn is True %}
  <!-- Admin btn -->
  <div id="admin-btn" class="admin-btn" title="{% trans 'Allez vers l\'interface d\'administrateur.' %}">
    <a href="{% url 'admin:index' %}">
      <img src="{% static 'sandbox/assets/img/logo/favicon.jpg' %}" alt="Admin Link">
    </a>
  </div>
{% endif %}