{% extends 'rogan/index.html' %}
{% load static %}
{% load thumbnail %}

{% block extra_css %}
  <style>
    .banner {
        height: 100vh;
        position: relative;
        margin-bottom: 3em;
    }
    .banner .img {
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .banner .overlay {
        background: linear-gradient(180deg,
        rgba(255, 255, 255, .95),
        rgba(255, 255, 255, .8) 65%,
        rgba(255, 255, 255, 0));
        width: 100%;
        height: 200px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .img-holder .img {
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 250px;
    }
  </style>
{% endblock extra_css %}

{% block main_content %}

    <!-- ===================================================
        Banner
    ==================================================== -->
    <div class="banner">
        <div
            class="img"
            style="background-image: url({% static 'rogan/images/home/banner1.jpg' %});"
        ></div>
        <div class="overlay"></div>
    </div>


    <!-- ===================================================
        Recent Posts
    ==================================================== -->
    <div class="team-standard our-team pt-100 pb-50 sm-pb-90">
        <div class="container">
            <div class="theme-title-one text-center mb-80">
                <div class="upper-title mb-5">Blog</div>
                <h2 class="main-title">Nos dernières publications</h2>
            </div> <!-- /.theme-title-one -->

            <div class="element-section mb-150">
                <div class="our-blog blog-masonry">
                    <div class="container">
                        <div class="row masnory-blog-wrapper">
                            {% for post in latest_post %}
                                <div class="isotop-item">
                                    <div class="single-blog-post">
                                        <div class="img-holder"><div class="img" style="background-image: url({{ post.image.url }});"></div></div>
                                        <div class="post-data">
                                            <a href="{% url 'blog:blog_post' post.slug %}" class="date">{{ post.published_at }}</a>
                                            <h5 class="blog-title-one title"><a href="{% url 'blog:blog_post' post.slug %}">{{ post.title }}</a></h5>
                                            <a href="{% url 'blog:blog_post' post.slug %}" class="read-more"><i class="flaticon-next-1"></i></a>
                                        </div> <!-- /.post-data -->
                                    </div> <!-- /.single-blog-post -->
                                </div> <!-- /.isotop-item -->
                            {% endfor %}
                        </div> <!-- /.masnory-blog-wrapper -->
                    </div> <!-- /.container -->
                </div> <!-- /.our-blog -->
            </div>
        </div>
    </div>


    <!-- ===================================================
        Play
    ==================================================== -->
    <div class="team-standard our-team pb-100 sm-pb-90">
        <div class="container">
            <div class="theme-title-one text-center mb-80">
                <div class="upper-title mb-5">Jouer</div>
                <h2 class="main-title">Démarrer un match enligne.</h2>
            </div> <!-- /.theme-title-one -->

            <div class="element-section mb-150">
                <div class="our-blog blog-masonry">
                    <div class="container">
                        <div class="row masnory-blog-wrapper">
                            {% for post in latest_post %}
                                <div class="isotop-item">
                                    <div class="single-blog-post">
                                        <div class="img-holder"><div class="img" style="background-image: url({{ post.image.url }});"></div></div>
                                        <div class="post-data">
                                            <a href="{% url 'blog:blog_post' post.slug %}" class="date">{{ post.published_at }}</a>
                                            <h5 class="blog-title-one title"><a href="{% url 'blog:blog_post' post.slug %}">{{ post.title }}</a></h5>
                                            <a href="{% url 'blog:blog_post' post.slug %}" class="read-more"><i class="flaticon-next-1"></i></a>
                                        </div> <!-- /.post-data -->
                                    </div> <!-- /.single-blog-post -->
                                </div> <!-- /.isotop-item -->
                            {% endfor %}
                        </div> <!-- /.masnory-blog-wrapper -->
                    </div> <!-- /.container -->
                </div> <!-- /.our-blog -->
            </div>
        </div>
    </div>

{% endblock main_content %}
