{% extends 'website/layouts/master.html' %}
{% load static %}
{% load thumbnail %}

{% block style %}
<style>
  .my_column {
    padding-left: 5px;
    padding-right: 5px;
  }

  #services-1:hover, #services-1.nav-link.active {
    background: #fff8ef !important;
  }

  #services-2:hover, #services-2.nav-link.active {
    background-color: #eef9f7 !important;
  }

  #services-3:hover, #services-3.nav-link.active {
    background-color: #fdf3f4 !important;
  }
</style>
{% endblock style %}

{% block main %}

<!-- Sliders -->
{% if sliders %}
<section class="wrapper bg-dark">
    <div class="swiper-container dots-over" style="height: 500px; max-height: 90vh;" data-margin="0" data-autoplay="true" data-autoplaytime="7000" data-nav="true" data-dots="true" data-items="1">
      <div class="swiper" style="height: 500px; max-height: 90vh;">
        <div class="swiper-wrapper">
          {% for slider in sliders %}
          <div class="swiper-slide {% if slider.title and slider.description %}bg-overlay bg-overlay-400 bg-dark {% endif %}bg-image"
              data-image-src="{{ slider.image|thumbnail_url:'large' }}"
              style="background-size: cover; background-position: center;"
          >
                <div class="container h-100">
                  <div class="row h-100">
                    <!-- TOPS -->
                    {% if slider.alignment == "topleft"%}
                    <div class="col-md-10 offset-md-1 col-lg-7 p-3 offset-lg-0 col-xl-6 col-xxl-5 text-center text-lg-start justify-content-center align-self-start align-items-start">
                    {% elif slider.alignment == "top"%}
                    <div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6 mx-auto text-center justify-content-center align-self-start">
                    {% elif slider.alignment == "topright"%}
                    <div class="col-md-10 offset-md-1 col-lg-7 p-3 col-xl-6 offset-lg-5 offset-xl-6 offset-xxl-6 col-xxl-5 text-center text-lg-start justify-content-center align-self-start align-items-start">
                    <!-- MIDDLES -->
                    {% elif slider.alignment == "left"%}
                    <div class="col-md-10 offset-md-1 col-lg-7 p-3 offset-lg-0 col-xl-6 col-xxl-5 text-center text-lg-start justify-content-center align-self-center align-items-start">
                    {% elif slider.alignment == "center"%}
                    <div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6 mx-auto text-center justify-content-center align-self-center">
                    {% elif slider.alignment == "right"%}
                    <div class="col-md-10 offset-md-1 col-lg-7 p-3 col-xl-6 offset-lg-5 offset-xl-6 offset-xxl-6 col-xxl-5 text-center text-lg-start justify-content-center align-self-center align-items-start">
                    {% elif slider.alignment == "bottomleft"%}
                    <div class="col-md-10 offset-md-1 col-lg-7 p-3 offset-lg-0 col-xl-6 col-xxl-5 text-center text-lg-start justify-content-center align-self-end align-items-start">
                    {% elif slider.alignment == "bottom"%}
                    <div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6 mx-auto text-center justify-content-center align-self-end">
                    {% elif slider.alignment == "bottomright"%}
                    <div class="col-md-10 offset-md-1 col-lg-7 p-3 col-xl-6 offset-lg-5 offset-xl-6 offset-xxl-6 col-xxl-5 text-center text-lg-start justify-content-center align-self-end align-items-start">
                    {% endif %}
                    {% if slider.title %}
                      <h2 style="
                        -webkit-text-stroke-width: 1.5px;
                        -webkit-text-stroke-color: black;
                        margin-bottom: 0 !important;
                      " class="display-1 fs-56 mb-4 text-white animate__animated animate__slideInDown animate__delay-1s">
                        {{ slider.title|safe }}
                      </h2>
                    {% endif %}
                    {% if slider.description %}
                      <p style="
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: black;
                        font-weight: bold;
                        font-size: 1.45rem !important;
                      " class="lead fs-23 lh-sm mb-7 text-white animate__animated animate__slideInRight animate__delay-2s">
                        {{ slider.description }}
                      </p>
                    {% endif %}
                    {% if slider.buttons %}
                      <div class="animate__animated animate__slideInUp animate__delay-3s">
                        {% for button in slider.buttons.all %}
                          {% if button.type == "video" %}
                          <div class="animate__animated animate__slideInUp animate__delay-3s">
                            <a href="{{ button.action }}" class="btn btn-circle btn-white btn-play ripple mx-auto mb-5" data-glightbox>
                              <i class="icn-caret-right"></i>
                            </a>
                          </div>
                          {% elif button.type == "internal link" %}
                          <a href="{{ button.action }}" class="btn btn-lg btn-outline-white rounded-pill">{{ button.title }}</a>
                          {% elif button.type == "external link" %}
                          <a href="{{ button.action }}" target="_blank" class="btn btn-lg btn-outline-white rounded-pill">{{ button.title }}</a>
                          {% endif %}
                        {% endfor %}
                      </div>
                    {% endif %}
                    </div>
                    <!--/column -->
                  </div>
                  <!--/.row -->
                </div>
                <!--/.container -->
          </div>
          <!--/.swiper-slide -->
          {% endfor %}
        </div>
            <!--/.swiper-wrapper -->
      </div>
      <!-- /.swiper -->
    </div>
    <!-- /.swiper-container -->
</section>
<!-- /section -->
{% endif %}

<!-- A propos + Description -->
<section class="wrapper bg-light">
  <div class="container py-9 py-md-12">
    <div class="row gx-md-8 gy-10 align-items-center">
      <div class="col-lg-5 offset-lg-1 order-lg-2 position-relative">
        <figure class="rounded">
            <img class="img-fluid"
                src="{% static 'sandbox/assets/img/photos/director.jpg' %}"
                alt="" />
        </figure>
      </div>
      <!--/column -->
      <div class="col-lg-6">
        <h2 class="text-gradient gradient-1 w-100 mb-3 ar">كلمة الرئيس</h2> <!-- Édito du directeur -->
        <h3 class="display-4 mb-4 me-lg-n5 ar">السيد هشام المشرفي</h3>
        <p class="mb-6 ar text-align-right">
تأسس نادي أيت أورير للشطرنج و تنمية الذكاءات سنة 2010 و كان الغرض من تأسيسه تنمية قدرة منخرطيه في مجال رياضة الشطرنج و إكسابهم مهارة التحليل و دراسة جميع الاحتمالات و التخطيط و المشاركة الجماعية و التعاون في حل المشاكل و من أجل التثقيف بالنظر، و ترسيخ دينامية التنشيط المجالي الخاص بهذه الرياضة الذهنية، حيث تعاقب على رآسة هذا النادي 6 مكاتب لحد الآن نهجت سياسة مقاربة النوع و عملت دائما على إشراك جميع الفئات من أطفال و نساء و شبان في بناء جميع أنشطتها، هذه الفئات التي مثلت النادي في عدة محافل محلية و جهوية و وطنية.
        </p>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->

<!-- Counters -->
{% if counters %}
<section class="wrapper angled lower-start">
    <div class="container py-14 py-md-16">
      <div class="row">
        <div class="col-xl-10 mx-auto">
          <div class="row align-items-center counter-wrapper gy-6 text-center">
            {% for counter in counters %}
            <div class="col-md-3">
              <img src="{{ counter.icon.url }}" class="svg-inject icon-svg icon-svg-lg text-primary mb-3" alt="{{ counter.title }}" />
              <h3 class="counter">{{ counter.count_to }}</h3>
              <p>{{ counter.title }}</p>
            </div>
            {% endfor %}
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->
{% endif %}


{% if testimonials %}
<section class="wrapper bg-light">
  <div class="container py-9 py-md-12">
    <h2 class="fs-15 text-uppercase text-primary text-center">TÉMOIGNAGES</h2>
    <h3 class="display-4 mb-6 text-center">Que disent les gens de nous?</h3>
    <div class="position-relative">
      <div class="shape rounded-circle bg-soft-yellow rellax w-16 h-16" data-rellax-speed="1" style="bottom: 0.5rem; right: -1.7rem;"></div>
      <div class="shape bg-dot primary rellax w-16 h-16" data-rellax-speed="1" style="top: -1rem; left: -1.7rem;"></div>
      <div class="swiper-container dots-closer mb-6" data-margin="0" data-dots="true" data-items-xl="3" data-items-md="2" data-items-xs="1">
        <div class="swiper">
          <div class="swiper-wrapper">
            {% for testimonial in testimonials %}
            <div class="swiper-slide">
              <div class="item-inner">
                <div class="card">
                  <div class="card-body">
                    <blockquote class="icon mb-0">
                      <p>“{{ testimonial.testimony }}”</p>
                      <div class="blockquote-details">
                        <img class="rounded-circle w-12" src="{{ testimonial.author_picture|thumbnail_url:'thumbnail' }}" alt="" />
                        <div class="info">
                          <h5 class="mb-1">{{ testimonial.author_name }}</h5>
                          <p class="mb-0">{{ testimonial.author_job }}</p>
                        </div>
                      </div>
                    </blockquote>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.item-inner -->
            </div>
            <!--/.swiper-slide -->
            {% endfor %}
          </div>
          <!--/.swiper-wrapper -->
        </div>
        <!-- /.swiper -->
      </div>
      <!-- /.swiper-container -->
    </div>
    <!-- /.position-relative -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
{% endif %}




<!-- Latest Posts -->
<section class="wrapper bg-white">
  <div class="container py-9 py-md-12">
    <div class="row">
      <div class="col-lg-9 col-xl-8 col-xxl-7 mx-auto">
        <h2 class="fs-15 text-uppercase text-primary text-center">Blog</h2>
        <h3 class="display-4 mb-6 text-center">Nos derniers articles</h3>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="position-relative">
      <div class="shape bg-dot primary rellax w-17 h-20" data-rellax-speed="1" style="top: 0; left: -1.7rem;"></div>
      <div class="swiper-container dots-closer blog grid-view mb-6" data-margin="0" data-dots="true" data-items-xl="3" data-items-md="2" data-items-xs="1">
        <div class="swiper">
          <div class="row">
            {% for post in posts %}
            <div class="my_column col-xl-4 col-lg-4 col-md-6 col-sm-12">
              <div class="item-inner my_column">
                <article>
                  <div class="card">
                    <figure class="card-img-top overlay overlay-1 hover-scale"><a href="{% url 'blog:blog_post' post=post.slug %}"> <img src="{{ post.image|thumbnail_url:'medium' }}" alt="" /></a>
                      <figcaption>
                        <h5 class="from-top mb-0">Read More</h5>
                      </figcaption>
                    </figure>
                    <div class="card-body">
                      <div class="post-header">
                        <h2 class="post-title h3 mt-1 mb-3"><a class="link-dark" href="{% url 'blog:blog_post' post=post.slug %}">{{ post.title }}</a></h2>
                      </div>
                      <!-- /.post-header -->
                      <div class="post-content">
                        <p>{{ post.short_description }}</p>
                      </div>
                      <!-- /.post-content -->
                    </div>
                    <!--/.card-body -->
                    <div class="card-footer">
                      <ul class="post-meta d-flex mb-0">
                        <li class="post-date"><i class="uil uil-calendar-alt"></i><span>{{ post.published_at }}</span></li>
                        <li class="post-comments"><a><i class="uil uil-comment"></i>{{ post.get_comments_num }}</a></li>
                      </ul>
                      <!-- /.post-meta -->
                    </div>
                    <!-- /.card-footer -->
                  </div>
                  <!-- /.card -->
                </article>
                <!-- /article -->
              </div>
              <!-- /.item-inner -->
            </div>
            <!--/.swiper-slide -->
            {% endfor %}
          </div>
          <!--/.swiper-wrapper -->
        </div>
        <!-- /.swiper -->
      </div>
      <!-- /.swiper-container -->
    </div>
    <!-- /.position-relative -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->

<!-- Clients -->
<section class="wrapper bg-light wrapper-border">
  <div class="container py-10 py-md-6">
    <h2 class="fs-15 text-uppercase text-primary text-center">Partenariat</h2>
    <h3 class="display-4 mb-6 text-center">Nos Partenaires</h3>
    <div class="swiper-container clients mb-0" data-margin="30" data-dots="false" data-autoplay-timeout="1000" data-speed="1000" data-autoplay="true" data-loop="false" data-items-xxl="7" data-items-xl="6" data-items-lg="5" data-items-md="4" data-items-xs="2">
      <div class="swiper">
        <div class="swiper-wrapper align-items-center justify-content-center">
          <div class="swiper-slide px-5"><img src="{% static 'club/images/partners/commune ait ourir.png' %}" alt="" /></div>
          <div class="swiper-slide px-5"><img src="{% static 'club/images/partners/moroccan chess.jpeg' %}" alt="" /></div>
          <div class="swiper-slide px-5"><img src="{% static 'club/images/partners/ennassimi.png' %}" alt="" /></div>
        </div>
        <!--/.swiper-wrapper -->
      </div>
      <!-- /.swiper -->
    </div>
    <!-- /.swiper-container -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->

{% endblock main %}
