{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
        {% include "rogan/layouts/head.html" %}

		{% block extra_css %}
		{% endblock extra_css %}
	</head>

	<body>
		<div class="main-page-wrapper">

            <!-- ===================================================
                Loading Transition
            ==================================================== -->
            <!-- Preloader -->
            <section>
                <div id="preloader">
                    <div id="ctn-preloader" class="ctn-preloader">
                        <div class="animation-preloader">
                            <div class="icon"><img src="{% static 'rogan/images/1.svg' %}" alt=""></div>
                        </div>
                    </div>
                </div>
            </section>

            <!--
            =============================================
                Theme Main Menu
            ==============================================
            -->
            <div class="theme-main-menu theme-menu-two main-p-color sticky-menu">
                <div class="d-flex align-items-center">
                    <div class="logo"><a href="{% url 'website:home' %}"><img src="{% static 'rogan/images/logo/logo.svg' %}" alt=""></a></div>
                    <div class="right-content ml-auto order-lg-3">
                        <!-- <a href="contact-v1.html" class="theme-btn line-button-one button-rose contact-button button-white-bg">
                            S'inscrire
                        </a> -->
                    </div>
                    <nav id="mega-menu-holder" class="navbar navbar-expand-lg order-lg-2">
                        <div  class="container nav-container">
                            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="flaticon-setup"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="nav-item {% if current_page == 'home' %}active{% endif %}">
                                        <a class="nav-link" href="{% url 'website:home' %}">Accueil</a>
                                    </li>
                                    <li class="nav-item {% if current_page == 'about_us' %}active{% endif %}">
                                        <a class="nav-link" href="{% url 'website:about_us' %}">A Propos</a>
                                    </li>
                                    <li class="nav-item {% if current_page == 'contact_us' %}active{% endif %}">
                                        <a class="nav-link" href="{% url 'website:contact_us' %}">Contactez Nous</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="content_margin" style="margin-top: 9em;"></div>

            {% block main_content_wrapper %}

            {% block main_content %}
            {% endblock main_content %}

            {% endblock main_content_wrapper %}

            <!--
            =====================================================
                Footer
            =====================================================
            -->
            {% include "rogan/layouts/footer.html" %}

            <!-- Optional JavaScript _____________________________  -->

            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <!-- jQuery -->
            <script src="{% static 'rogan/vendor/jquery.2.2.3.min.js' %}"></script>
            <!-- Popper js -->
            <script src="{% static 'rogan/vendor/popper.js/popper.min.js' %}"></script>
            <!-- Bootstrap JS -->
            <script src="{% static 'rogan/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
            <!-- menu  -->
            <script src="{% static 'rogan/vendor/mega-menu/assets/js/custom.js' %}"></script>
            <!-- AOS js -->
            <script src="{% static 'rogan/vendor/aos-next/dist/aos.js' %}"></script>
            <!-- WOW js -->
            <script src="{% static 'rogan/vendor/WOW-master/dist/wow.min.js' %}"></script>
            <!-- owl.carousel -->
            <script src="{% static 'rogan/vendor/owl-carousel/owl.carousel.min.js' %}"></script>
            <!-- ajaxchimp -->
            <script src="{% static 'rogan/vendor/ajaxchimp/jquery.ajaxchimp.min.js' %}"></script>
            <!-- Fancybox -->
            <script src="{% static 'rogan/vendor/fancybox/dist/jquery.fancybox.min.js' %}"></script>
            <!-- Tilt js -->
            <script src="{% static 'rogan/vendor/tilt.jquery.js' %}"></script>


            <!-- Theme js -->
            <script src="{% static 'rogan/js/theme.js' %}"></script>


            {% block extra_js %}
            {% endblock extra_js %}

		</div> <!-- /.main-page-wrapper -->
	</body>
</html>
