{% extends 'website/layouts/master.html' %}
{% load static %}

{% block main %}

<section class="wrapper image-wrapper bg-image bg-overlay bg-overlay-400 bg-content text-white" data-image-src="{% static 'sandbox/assets/img/photos/terms.jpg' %}">
  <div class="container pt-18 pt-md-20 pb-21 pb-md-21 text-center" style="z-index: 5; position:relative">
    <div class="row">
      <div class="col-sm-10 col-md-8 col-lg-6 col-xl-6 col-xxl-5 mx-auto">
        <h1 class="display-1 text-white mb-3">Termes et conditions</h1>
        <p class="lead px-xl-10 px-xxl-10">Veuillez lire attentivement les présentes conditions avant d'utiliser le site du Club d'Échecs d'Aït Ourir. En accédant à ce site, vous acceptez d'être lié par ces conditions.</p>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->

<div class="container">
    <div class="row gx-0">
      <aside class="col-xl-3 sidebar sticky-sidebar mt-md-0 py-16 d-none d-xl-block">
        <div class="widget">
          <nav id="sidebar-nav">
            <ul class="list-unstyled text-reset">
              <li><a class="nav-link scroll active" href="#terms_conditions">1. Termes et conditions</a></li>
              <li><a class="nav-link scroll" href="#privacy_policy">2. Politique de confidentialité</a></li>
              <li><a class="nav-link scroll" href="#user-policy">3. Politique d'utilisation</a></li>
              <li><a class="nav-link scroll" href="#copyrights">4. Droits d'auteur</a></li>
              <li><a class="nav-link scroll" href="#cookies">5. Cookies</a></li>
              <li><a class="nav-link scroll" href="#account-billing">6. Compte et facturation</a></li>
            </ul>
          </nav>
          <!-- /nav -->
        </div>
        <!-- /.widget -->
      </aside>
      <!-- /column -->

      <div class="col-xl-8">
        <section id="terms_conditions" class="wrapper pt-16">
          <div class="card">
            <div class="card-body p-10">
              <h2 class="mb-3">1. Termes et conditions</h2>
              <h3>Introduction</h3>
              <p>
                Bienvenue sur le site du Club d'Échecs d'Aït Ourir. En accédant à ce site et
                en l'utilisant, vous acceptez de respecter les présentes conditions générales
                et d'y être lié. Si vous n'acceptez pas ces conditions, veuillez ne pas
                utiliser notre site.
              </p>

              <h3>Utilisation du site</h3>
              <ul>
                <li>Vous devez utiliser ce site conformément à l'ensemble des lois et réglementations applicables.</li>
                <li>Le contenu de ce site est destiné à une information générale et à un usage personnel uniquement.</li>
                <li>Toute utilisation non autorisée de ce site peut donner lieu à une demande de dommages et intérêts et/ou constituer une infraction pénale.</li>
              </ul>

              <h3>Avertissement</h3>
              <ul>
                <li>Le contenu des pages de ce site est fourni à titre d'information et d'usage général uniquement. Il est susceptible d'être modifié sans préavis.</li>
                <li>Nous ne fournissons aucune garantie quant à l'exactitude, l'exhaustivité ou l'adéquation des informations et des documents présentés ou proposés sur ce site.</li>
              </ul>


            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </section>

        <section id="privacy_policy" class="wrapper pt-16">
          <div class="card">
            <div class="card-body p-10">
              <h2 class="mb-3">2. Politique de confidentialité</h2>
              <h3>Collecte des informations</h3>
              <p>Nous pouvons collecter les informations suivantes lorsque vous utilisez notre site :</p>
              <ul>
                <li>Des informations personnelles telles que votre nom, votre adresse e-mail et vos coordonnées.</li>
                <li>Des informations démographiques telles que votre localisation, vos préférences et vos centres d'intérêt.</li>
                <li>D'autres informations utiles aux enquêtes et aux offres destinées aux membres.</li>
              </ul>

              <h3>Utilisation des informations</h3>
              <ul>
                <li>Nous utilisons les informations collectées pour la tenue de nos registres internes et pour améliorer nos services.</li>
                <li>Nous pouvons occasionnellement vous envoyer des e-mails concernant de nouveaux événements, offres ou autres informations susceptibles de vous intéresser, à l'adresse e-mail que vous nous avez communiquée.</li>
              </ul>

              <h3>Sécurité</h3>
              <p>Nous nous engageons à assurer la sécurité de vos informations. Nous avons mis en place des procédures physiques, électroniques et organisationnelles appropriées afin de protéger et de sécuriser les informations que nous collectons en ligne.</p>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </section>

        <section id="user-policy" class="wrapper pt-16">
          <div class="card">
            <div class="card-body p-10">
              <h2 class="mb-3">3. Politique d'utilisation</h2>
              <h3>Conduite de l'utilisateur</h3>
              <p>En utilisant notre site, vous vous engagez à :</p>
              <ul>
                <li>Ne pas vous livrer à des activités illégales, offensantes ou nuisibles.</li>
                <li>Respecter la vie privée des autres utilisateurs.</li>
                <li>Respecter l'ensemble des lois et réglementations applicables.</li>
              </ul>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </section>

        <section id="copyrights" class="wrapper pt-16">
          <div class="card">
            <div class="card-body p-10">
              <h2 class="mb-3">4. Droits d'auteur</h2>
              <h3>Propriété intellectuelle</h3>
              <p>Ce site contient des éléments qui nous appartiennent ou pour lesquels nous détenons une licence. Ces éléments comprennent, sans s'y limiter, la conception, la mise en page, l'apparence et les graphismes.</p>
              <p>Toute reproduction de tout ou partie de ce site est interdite sauf autorisation du titulaire des droits d'auteur.</p>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </section>

        <section id="cookies" class="wrapper pt-16">
          <div class="card">
            <div class="card-body p-10">
              <h2 class="mb-3">5. Cookies</h2>
              <h3>Que sont les cookies</h3>
              <p>Les cookies sont de petits fichiers texte enregistrés sur votre appareil lorsque vous visitez notre site. Ils nous aident à analyser le trafic web et à vous offrir une expérience utilisateur personnalisée.</p>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </section>

        <section id="account-billing" class="wrapper py-16">
          <div class="card">
            <div class="card-body p-10">
              <h2 class="mb-3">6. Compte et facturation</h2>
              <h3>Création de compte</h3>
              <p>Pour accéder à certaines fonctionnalités de notre site, vous devrez peut-être créer un compte. Vous vous engagez à fournir des informations exactes et complètes lors de la création de votre compte.</p>
              <p>Vous êtes responsable de la confidentialité des informations de votre compte ainsi que de toutes les activités effectuées sous votre compte.</p>

              <h3>Informations de facturation</h3>
              <p>Le cas échéant, les informations de facturation relatives aux services d'adhésion ou d'abonnement vous seront communiquées lors de la création de votre compte ou du processus de paiement.</p>
              <p>Veuillez noter que ces sections constituent des lignes directrices générales ; il est recommandé de consulter des professionnels du droit afin de vous assurer que votre politique de confidentialité respecte les lois et réglementations applicables à votre juridiction et à la nature de votre site.</p>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </section>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

{% endblock main %}
