.btn-loading {
  animation: rotate 2s infinite ease-in-out;
}

#admin-btn {
  background-color: rgb(50, 50, 50);
  position: fixed;
  bottom: 50px;
  left: 20px;
  z-index: 99999;
  width: 60px;
  padding: 5px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
  transition: .2s;
  border: 1px solid #eee;
}
#admin-btn:hover {
  bottom: 55px;
}
#admin-btn::after {
  content: '';
  position: absolute;
  left: 15%;
  top: 60px;
  width: 70%;
  height: 0px;
  background-color: black;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px black;
  transition: .2s;
}
#admin-btn:hover::after {
  top: 65px;
  box-shadow: 0px 0px 8px 4px black;
  opacity: 1;
}

#admin-btn img {
  width: 100%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

#services-menu-item.mega-2-items {
  width: 880px !important;
  transform: translatex(-50%);
  margin-left: 60% !important;
}

@media (max-width: 576px) {
  #services-menu-item.mega-2-items {
    width: auto !important;
    transform: translatex(0%);
    margin-left: auto !important;
  }
}

.image-wrapper.bg-overlay-400:before {
  background: rgb(8 25 26 / 70%);
}
