{% extends 'sandbox/layouts/empty.html' %}
{% load static %}


{% block main_content %}

    <div class="error-content">
        <div class="inner-wrapper">
            <h2>500</h2>
            <p>
                Une erreur est survenue dans le système. On va la corriger le plus tôt possible.
                <br /> Nous somme désolés pour cet inconvénient.
            </p>
            <a href="/" class="back-button line-button-one">
                Revenir à la page d'accueil
            </a>
        </div>
    </div>

{% endblock main_content %}
