{% load static %}
{% load i18n %}

<div class="content-wrapper" style="
    max-width: 500px;
    margin: 0 auto;
    background-color: #16123a;
    color: white;
    padding: 20px 10px;
    border-radius: 5px;
">

    <div class="center" style="width: 100%;">
        <div style="display: inline-block; width: 150px; height: 50px;"></div>
        <img
            src="{{ base_url }}{% static 'sandbox/assets/img/logo/logo.jpeg' %}"
            alt="AOCID Logo"
            style="width: 200px;">

        <h1 style="text-align: center; color: #F5DD5D">
            {% trans 'Votre téléchargement est prêt' %}
        </h1>
    </div>

    <div>
        <h3>{% trans 'Merci de trouvez ci-joint votre livre:' %}</h3>
        <h3>
            {{ book.title }}
            {% if book.author %}
             {% trans 'par' %} {{ book.author }}
            {% endif %}
        </h3>
    </div>

    <div>
        <strong>{% trans "L'équipe" %} AOCID</strong>
    </div>

</div>