{% load static %}
{% load i18n %}

<div class="content-wrapper" style="
    max-width: 500px;
    margin: 0 auto;
    background-color: #16123a;
    color: white;
    padding: 20px 10px;
    border-radius: 5px;
">

    <div class="center" style="width: 100%;">
        <img
            src="{{ base_url }}{% static 'sandbox/assets/img/logo/logo.jpeg' %}"
            alt="AOCID Logo"
            style="width: 200px; display: block; margin: 0 auto;">

        <h1 style="text-align: center; color: #F5DD5D">
            {% trans 'Votre téléchargement est prêt' %}
        </h1>
    </div>

    <div>
        <h3>
            {% trans 'Merci de trouvez ci-joint votre livre:' %} <br />
            <span style="color: #F5DD5D">{{ book.title }}</span>
            {% if book.author %}
             {% trans 'par' %} {{ book.author }}
            {% endif %}
        </h3>
    </div>

    <div style="margin-top: 20px;">
        <strong>{% trans "L'équipe" %} AOCID</strong>
    </div>

</div>