{% load static %}
{% load i18n %}

<div class="content-wrapper" style="width: 100%">

    <div class="center" style="width: 100%;">
        <img
            src="{{ base_url }}{% static 'sandbox/assets/img/logo/logo.jpeg' %}"
            alt="AOCID Logo"
            style="width: 200px; margin: 0 auto;">

        <h1 style="text-align: center; color: #16123a">
            {% trans 'Votre téléchargement est prêt' %}
        </h1>
    </div>

    <div>
        <h3>{% trans 'Merci de trouvez ci-joint votre livre:' %}</h3>
        <h3>
            {{ book.title }}
            {% if book.author %}
             {% trans 'par' %} {{ book.author }}
            {% endif %}
        </h3>
    </div>

    <div>
        <strong>{% trans "L'équipe" %} AOCID</strong>
    </div>

</div>